/* Catppuccin Macchiato */
@define-color foreground #cad3f5; /* text */
@define-color background #24273a; /* base */
@define-color color1 #c6a0f6; /* mauve */

:root {
  --main-color: #cad3f5; /* text */
  --main-border-color: #24273a; /* base */
  --main-background: #24273a; /* base */
  --search-background: rgba(54, 58, 79, 0.6); /* surface0 */
  --search-icon-color: #cad3f5; /* text */
  --typeahead-color: #ed8796; /* red */
  --selected-background: #494d64; /* surface1 */
  --selected-text: #c6a0f6; /* mauve */
  --ai-color: rgba(255, 255, 255, 0.8);
  --ai-response-background: hsla(219, 28.6%, 19.2%, 0.8);
}

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
  font-family: Monolisa Nerd Font;
}

#cfgerr {
  background: rgba(255, 0, 0, 0.4);
  margin-top: 20px;
  padding: 8px;
  font-size: 1.2em;
}

#window {
  color: var(--main-color);
}

#box {
  border-radius: 8px;
  background: var(--main-background);
  padding: 20px;
  border: 1px solid var(--main-border-color);
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

#search {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  background: var(--search-background);
  padding: 8px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: var(--search-icon-color);
  opacity: 0.2;
}

#clear {
  color: var(--selected-text);
  opacity: 0.8;
}

#password,
#input,
#typeahead {
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
}

#input {
  background: none;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: var(--typeahead-color);
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  padding: 9px;
  border-radius: 5px;
}

child:selected,
child:hover {
  background: var(--selected-background);
  font-weight: 900;
  color: var(--selected-text);
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
}

#label {
  font-weight: 300;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: var(--ai-color);
  background: var(--main-background);
}

.aiItem.user {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: var(--ai-response-background);
}

